<!DOCTYPE html>
<html lang="jp">

<head>
    <!--CDNから持ってくるもの-->
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <!--Material Design Icons-->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <!--Vuetify-->
    <link href="../node_modules/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>

<body>
    <div id="app" style="height: 50rem">
        <v-app style="background: rgba(0, 0, 0, 0);">
            <v-flex>
                <v-row>
                    <v-col cols="4">
                        <v-card class="ma-1" elevation="4" dark>
                            <v-card-title>
                                採点結果の表示状態：
                                <v-chip color="pink" v-if="receivedData.show">表示中</v-chip>
                                <v-chip color="green" v-else>表示なし</v-chip>
                            </v-card-title>
                            <v-divider></v-divider>
                            <v-card-text>
                                <v-btn color="pink" block elevation="4" v-if="receivedData.show"
                                    @click="changeShow(false)">表示を消す</v-btn>
                                <v-btn color="green" rounded block v-else-if="receivedData.reviewingStatus > 0"
                                    elevation="4" @click="changeShow(true)">表示する</v-btn>
                                <v-btn color="green" rounded block v-else outlined elevation="4"
                                    @click="changeShow(true)">表示する(採点未終了)</v-btn>
                            </v-card-text>
                        </v-card>
                        <v-card dark class="ma-1">
                            <v-card-text>
                                <v-textarea label="メモ帳" dense auto-grow>

                                </v-textarea>
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card class="ma-1" elevation="4" dark>
                            <v-card-title>
                                現在の採点状況：
                                <v-chip color="green" outlined v-if="receivedData.reviewingStatus > 0">採点終了</v-chip>
                                <v-chip color="gray" outlined v-else-if="receivedData.reviewingStatus == 0">アイドル状態
                                </v-chip>
                                <v-chip color="pink" outlined v-else>採点中</v-chip>
                            </v-card-title>
                            <v-divider></v-divider>
                            <v-card-text>
                                <v-row>
                                    <v-col v-for="(item, index) in receivedData.reviewers" :key="item.name">
                                        <v-card outlined>
                                            <v-card-title>
                                                <h5>{{index + 1}}：{{item.name}}</h5>
                                            </v-card-title>
                                            <v-card-subtitle v-if="!item.isValid">
                                                未割り当て
                                            </v-card-subtitle>
                                            <v-divider></v-divider>
                                            <v-card-text v-if="receivedData.currentMedley.reviewersPoint[index] == -1">
                                                未採点
                                            </v-card-text>
                                            <v-card-text v-else>
                                                {{receivedData.currentMedley.reviewersPoint[index]}}点
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-actions>
                                視聴者採点：
                                <v-chip color="gray" small class="mx-1"
                                    v-for="(item, index) in receivedData.currentMedley.listenerPoint.per" :key="index">
                                    <div v-if="receivedData.currentMedley.listenerPoint.actualPoint == -1">
                                        {{index + 1}}点/未採点</div>
                                    <div v-else>
                                        {{index + 1}}点/{{Math.round(item * 10) / 10}}%</div>
                                </v-chip>
                                <v-chip color="white" light small class="mx-1">
                                    <div v-if="receivedData.currentMedley.listenerPoint.actualPoint == -1">
                                        合計/未採点</div>
                                    <div v-else>
                                        合計/{{Math.round(receivedData.currentMedley.listenerPoint.actualPoint * 100) /
                                        100}}点</div>
                                </v-chip>
                                <v-divider vertical class="mx-2 my-n2"></v-divider>
                                <div v-if="receivedData.currentMedley.point == -1">
                                    合計：未採点</div>
                                <div v-else>
                                    合計：{{receivedData.currentMedley.point}}点</div>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
                <br>
                <v-card dark>
                    <v-card-title>全採点データ</v-card-title>
                    <v-card-text>
                        <v-data-table items-per-page=-1 :items="receivedData.medleys" :headers="headers" dense hide-default-footer
                            height="20rem" fixed-header disable-pagination>

                            <template v-slot:item.copy="{ item }">
                                <v-btn small block color="white" outlined @click="copyToClipboard(item)">コピー</v-btn>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
                </v-data-table>
            </v-flex>
        </v-app>
    </div>
    <!--Vue.js v2-->
    <script src="../node_modules/vue/dist/vue.min.js"></script>
    <!--Vuetify-->
    <script src="../node_modules/vuetify/dist/vuetify.min.js"></script>
    <script>
        /**
         * Vue.jsのマウント
         */
        const receiverepl = nodecg.Replicant("reviewData");
        var replVal = {};

        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            mounted() {
                receiverepl.on("change", (newValue) => {
                    //何故か配列が配列風オブジェクトになる
                    this.receivedData = JSON.parse(JSON.stringify(newValue));
                    this.headers = [
                        { text: "メドレー名", value: "name" },
                        { text: "作者名", value: "artist" },
                        { text: "合計点", value: "point" },
                        { text: this.receivedData.reviewers[0].name, value: "reviewersPoint[0]" },
                        { text: this.receivedData.reviewers[1].name, value: "reviewersPoint[1]" },
                        { text: this.receivedData.reviewers[2].name, value: "reviewersPoint[2]" },
                        { text: this.receivedData.reviewers[3].name, value: "reviewersPoint[3]" },
                        { text: this.receivedData.reviewers[4].name, value: "reviewersPoint[4]" },
                        { text: "視聴者投票", value: "listenerPoint.actualPoint" },
                        { text: "", value: "copy" }
                    ];
                });
            },
            data: {
                receivedData: {
                    reviewers: [
                        {
                            name: "",
                            id: "",
                            icon: "",
                            isValid: false,
                        },
                        {
                            name: "",
                            id: "",
                            icon: "",
                            isValid: false,
                        },
                        {
                            name: "",
                            id: "",
                            icon: "",
                            isValid: false,
                        },
                        {
                            name: "",
                            id: "",
                            icon: "",
                            isValid: false,
                        },
                        {
                            name: "",
                            id: "",
                            icon: "",
                            isValid: false,
                        }
                    ],
                    medleys: [
                    ],
                    currentMedley: {
                        name: "メドレー名",
                        artist: "作者名",
                        point: -1,
                        reviewersPoint: [-1, -1, -1, -1, -1],
                        listenerPoint: {
                            actualPoint: -1,
                            per: [0, 0, 0, 0, 0],
                        }
                    },
                    reviewingStatus: 0,
                    show: false,
                    memo: "",
                },
                headers: [
                ],
            },
            methods: {
                receive(newValue) {
                },
                changeShow(bool) {
                    receiverepl.value.show = bool;
                },
                copyToClipboard(data) {
                    var str = `${data.reviewersPoint[0]}\t${data.reviewersPoint[1]}\t${data.reviewersPoint[2]}\t${data.reviewersPoint[3]}\t${data.reviewersPoint[4]}\t${data.listenerPoint.per[4]}\t${data.listenerPoint.per[3]}\t${data.listenerPoint.per[2]}\t${data.listenerPoint.per[1]}\t${data.listenerPoint.per[0]}`;
                    var listener = function (e) {
                        e.clipboardData.setData("text/plain", str);
                        e.preventDefault();
                        document.removeEventListener("copy", listener);
                    }
                    document.addEventListener("copy", listener);
                    document.execCommand("copy");
                },
            }
        });

    </script>
</body>

</html>